<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Welcome to Jyoung.io</title>
</head>
<body class="body">
    <div class="card">
        <h1 class="title">Welcome to Jyoung.io</h1>
        <p class="subtitle">This is a test website for Jyoung.io</p>
        <a href="/calendar">Go to Calendar</a> <!-- Link to calendar page -->
    </div>
</body>
</html>